

button{
    background-color: slategray;
    color: white;
    border-radius: 14%;
}

button a {
    color:white;
    text-decoration: none;
}

.button-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.greeting-box{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.greeting-box h1{
margin-top: 0px;
margin-bottom: 0px;
}

@media only screen and (min-width: 700px) {
    .greeting-box{
       
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 14px;
    }


}