

button{
    background-color: slategray;
    color: white;
    border-radius: 14%;
}

button a {
    color:white;
    text-decoration: none;
}

.button-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.greeting-box{
    margin-left: 21px;
}

.deleteButton{
    float: right;
    margin-top: 14px;
    margin-right: 56px;
    background-color: transparent;
    border-radius: 43%;
    font-size: 21px;
}