@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500&family=Raleway&display=swap');

main{
       
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
}

.Meal {
  
    background-color:transparent;
    border-radius: 0%;
    list-style: none;
    font-size: larger;
    font-family: 'Asap';
    color: white;
    text-shadow: 1px 1px 0 #000;
    font-weight: bolder;
    /* margin-left: 49px; */
    
   
}

.meal_name{
    display: flex;
    flex-direction: column;

    
}
.Meal ul{
    border: 3px black solid;
    background-color: limegreen;
    border-radius: 40%;
    list-style: none;
    font-size: 21px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 49px;
   

  
}

.Meal li{
    margin: 3px;
    
}

.deleteButton{
    float: right;
    margin-top: 14px;
    background-color: transparent;
    width: 28%;
    padding-right: 7px;
    border: transparent;
    font-size: 28px;

}


@media only screen and (min-width: 800px) {
 
    body{
        background-color: lightcyan;
        padding-top: 28px;
        padding-left: 70px;
        padding-right: 70px

        
       
       
    }

    main{
     
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .Meal {
  
        background-color:transparent;
        list-style: none;
        font-size: larger;
        font-family: 'Asap';
        color: white;
        text-shadow: 1px 1px 0 #000;
        font-weight: bolder;
        /* margin-left: 126px; */
        
       
    }
    .Meal ul{
        border: 3px black solid;
        background-color: limegreen;
        list-style: none;
        font-size: 21px;
        width: 50%;
        padding: 49px;
        /* padding-top: 47px;
        padding-left: 120px; */
    }

    .meal_name{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        
    }
}