.Meal {
    border: 1px black solid;
    background-color:skyblue;
    list-style: none;
    font-size: larger;
    margin-top: 14px;
    font-family: Arial, Helvetica, sans-serif;
   
}
.Meal ul{
    border: 3px thistle solid;
    list-style: none;
    font-size: 28px;
    width: 50%;
    margin-left: 28px;
    padding-top: 7px;
}

.Meal li{
    margin: 3px;
}