@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500&family=Raleway&display=swap');

.NavList{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    border: white 3px solid;
    background-color: limegreen;
    
}

Nav a{
    text-decoration: none;
    color: black;
   
    font-size: 21px;
    font-family: 'Asap';
    
}