@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500&family=Raleway&display=swap');

.formContainer{
    display: flex;
    justify-content: center;
    background-color: lightcyan;
    padding: 14px;
}
.submitBox{
    font-family: 'Asap';
    font-size: 35px;
    border: black 3px solid;
    background-color: limegreen;
    padding: 7px;
    width: 100%;
    align-self: center;
    
}

.submitBox input{
    
    border: 3px yellow solid;
    margin: 7px;
    padding: 14px;
    width: 70%;
}
.submitBox button{
    padding: 17px;
    margin: 14px;
}

.submitBox p{
    margin-top: 10px;
    margin-bottom: 14px;
}

@media only screen and (min-width: 800px){

    .submitBox{
        font-size: 35px;
        border: black 3px solid;
        background-color: limegreen;
        padding: 7px;
        width: 100%;
        align-self: center;
        
    }
    
}