@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500&family=Raleway&display=swap');

.SignUp{
    font-family: 'Asap';
}
.SignUp .RegistrationForm{
    background-color: limegreen;
    width: 50%;
    padding: 21px;
    border: 3px white solid;
    margin-bottom: 100px;
    color: black;

    

}

.SignUp h4{
    width: 50%;
    padding: 21px;
    border: 3px black solid;
}